.recent-cont {
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(32, 0, 0, 0.9),
    rgba(0, 0, 0, 1)
  );
  font-family: "Inter", sans-serif;
  color: white;
}

.tracksCont {
  padding: 40px;
}

.tracks {
  max-width: 1200px;
  margin: 0 auto;
}

.recent-tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
}

.track {
  height: fit-content;
  width: 100%;
  position: relative;
}

.coverImg {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

.trackTitle {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  margin: 10px 0 0 5px;
  font-family: "Quicksand", sans-serif;
}

.artists {
  color: rgb(190, 190, 190);
}

a {
  color: white;
  text-decoration: none;
}

.tracksHeader {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.sortCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  margin-right: 10px;
  gap: 20px;
}

.buttonSort {
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: black;
  color: white;
  transition: 0.75s;
}

.buttonSortActive {
  color: black;
  background-color: white;
  border-color: black;
}

.seeMoreCont {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
}

.seeMoreBtn {
  background-color: rgba(49, 2, 18, 0.9);
  color: white;
  padding: 10px 25px;
  font-size: clamp(100%, 5vw, 20px);
  border-radius: 20px;
  border: 1px;
  margin-top: 25px;
}

@media only screen and (max-width: 900px) {
  .recent-tracks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 30px;
    row-gap: 40px;
  }
}
