.App {
  z-index: 10;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(8px);
  z-index: -1;
}

.link-container {
  width: 80vw;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.wave-letter {
  display: inline-block;
  animation: wave 0.8s ease-in-out forwards;
  opacity: 1;
  animation-delay: var(--delay);
  transform-origin: bottom;
}

.title {
  opacity: 1;
  overflow: hidden;
  animation: fadeup 1s forwards;
}
